name: Release

on:
  push:
    branches:
      - release

env:
  CARGO_TERM_COLOR: always

jobs:
  compile:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install Rust ${{ matrix.toolchain }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          target: thumbv7em-none-eabihf
          override: true
          components: llvm-tools-preview

      - name: Install cargo-binutils
        uses: actions-rs/install@v0.1
        with:
          crate: cargo-binutils
          version: latest
          use-tool-cache: true

      - name: Install flip-link
        uses: actions-rs/install@v0.1
        with:
          crate: flip-link
          version: latest
          use-tool-cache: true

      - name: cargo build release
        run: |
          cd Software/sm4-firmware
          cargo build --release

      - name: Run cargo objcopy
        uses: actions-rs/cargo@v1
        with:
          command: objcopy
          args: --release --bin firmware -- -O binary firmware.bin

      - name: Create release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: firmware*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true